<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="Sarah Tierney's portfolio website">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <html prefix="og: http://ogp.me/ns#">
  <meta property="og:title" content="Sarah Tierney Portfolio Website"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://github sdsfdf sarahtierney.ca"/>
  <meta property="og:image" content="https://sarahtierney.github.io/sarahtierney/img/logo.png"/>
  <meta property="og:description" content="This is my graphic design portfolio. Sarah Tierney"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Kreon:300,400,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/cat.ico" type="image/x-icon" />
</head>

<body>
<header>
  <div>
    <nav class="nav-top" id="nav" role="navigation">
      <ol class="push-0">
        <li><a class="island-1-2" href="{{site.baseurl}}/index.html#portfolio">Portfolio</a></li>
        <li><a class="island-1-2" href="{{site.baseurl}}/index.html#about">About</a></li>
        <li><a class="island-1-2" href="{{site.baseurl}}/index.html#contact">Contact</a></li>
      </ol>
    </nav>
  </div>
</header>

  <main itemscope itemtype="https://schema.org/CreativeWork">
    {{content}}
  </main>
</body>
</html>
